
input[type="checkbox"]{
 display:block;
}

h1 {
 text-align: center;
}

ul {
  display:flex;
  flex-direction: column;
  padding: 0px;
}

.checkboxes {
  display:flex;
  flex-direction: row;
}

form {
  display:flex;
  flex-direction: row;
}

#limit{
  display:flex;
  flex-direction:row;
   height:30px;
}

#result-list {
  list-style: none;
 padding: 0px;
}

#limit-result {
 display: flex;
 flex-direction: column;
}

.hidden {
 display: none;
}

#limit-results {
 padding-left: 40px;
}

#states-wrapper {
 padding-left: 40px;
}
